<h1>Cryptos</h1>
</br>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Current Price</th>
      <th>Total Value</th>
      <th>1 HR change</th>
      <th>24 HR change</th>
      <th>7 day change</th>
      <!-- <th>Cost per</th> -->
      <th>Amount owned</th>
    </tr>
  </thead>

  <tbody>
    <% @cryptos.each do |crypto| %>
      <% if crypto.user_id == current_user.id %>
        <%  if crypto.symbol %>
          <% crypto.symbol = crypto.symbol.upcase %>
        <% end %>
        <tr>
          <% for x in @ID_List["data"] %>
            <% if x["symbol"] == crypto.symbol %>
              <% c = @coins["data"][x["id"].to_s] %>
              <td><%= link_to x["name"], crypto %></td>
              <td><%= crypto.symbol %></td>
              <td>$<%= c["quotes"]["USD"]["price"] %></td>
              <td>$<%= c["quotes"]["USD"]["price"].to_d * crypto.amount_owned %></td>
              <td><%= c["quotes"]["USD"]["percent_change_1h"] %>%</td>
              <td><%= c["quotes"]["USD"]["percent_change_24h"] %>%</td>
              <td><%= c["quotes"]["USD"]["percent_change_7d"] %>%</td>
              <%#= c["name"] %><%#= c["quotes"]["USD"]["price"] %>
            <% end %>
          <% end %>
          
          <!-- <td><%= number_to_currency(crypto.cost_per) %></td> -->
          <td><%= crypto.amount_owned %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crypto', new_crypto_path, class: "btn btn-default" %>
